<li class="list-group-item mb-2">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            {{burger_name}}
        </div>
        <div class="d-flex align-items-center">
            {{#if devoured}}
                <button type="button" class="btn btn-primary change-devoured btn-sm" data-id="{{id}}" data-newdevoured="{{devoured}}">
                    Devour
                </button>
            {{/if}}
            <button type="button" class="btn-close delete-burger btn-sm" aria-label="Close" data-id="{{this.id}}"></button>
        </div>
    </div>
</li>